/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   Fonts of develop.
   ========================================================================== */

@font-face {
  font-family: Gilroy-Bold;
  src: url("../fonts/Gilroy-Bold.ttf");
}

/* ==========================================================================
   Styles of develop.
   ========================================================================== */

/*
   * Main styles
   */

:root {
  --color_gold: #C2A764;
  --color_red: #951A1D;
  --color_grey: #AFAFAF;
  --section_width: 1328px;
}

.app_main_box {
  font-family: Montserrat;
  overflow-x: hidden;
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #fff;
}

h1,
h2 {
  margin: 0;
}

.content_mw {
  max-width: var(--section_width);
  margin: 0 auto;
  padding: 0 15px;
}

/*
   * Header styles
   */

.app_section_navigation_box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 77px;
  overflow: hidden;
}

.app_nav_logos {
  margin-right: 30px;
}

.app_nav_list {
  margin-right: 45px;
}

.app_nav_list > ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.app_nav_item {
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
}

.app_nav_item:last-child {
  margin-right: 0;
}

.app_nav_button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 254px;
  height: 48px;
  background: var(--color_red);
  color: #fff;
  text-align: center;
  cursor: pointer;
  font-family: Gilroy-Bold;
}

/*
   * Header section styles
   */

.app_section_header {
  background-image: url("../img/header/header_section_image.png");
  background-size: cover;
  background-position: 50%;
}

.app_section_header_content_box {
  background: rgba(0, 0, 0, 0.5);
}

.app_section_header_content_rows_box {
  padding: 80px 0 120px;
}

.app_section_header_content_rows {
  display: flex;
}

.app_section_header_content_row_1,
.app_section_header_content_row_2 {
  flex-basis: 50%;
}

.app_section_header_content_row_1 {
  margin-bottom: 60px;
}

.app_section_header_content_row_1 > h1 {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
}

.app_section_header_content_row_1 article {
  font-weight: 500;
  font-size: 22px;
  color: #fff;
  margin-top: 20px;
}

.app_section_header_content_row_1 article:first-of-type {
  margin-top: 10px;
}

.app_section_header_content_row_2 {
  margin-left: 100px;
  margin-top: 30px;
}

.app_section_header_content_row_2 > ul {
  list-style-image: url("../img/header/line.png");
  height: 100%;
  margin: 0;
  padding-left: 90px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.app_section_header_content_row_2 li {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  padding-left: 30px;
}

.app_section_header_content_button {
  background: var(--color_gold);
  width: 334px;
  height: 63px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Gilroy-Bold;
  font-weight: bold;
  font-size: 18px;
}

/*
   * Selections section styles
   */

.app_section_selections_content {
  padding: 100px 0;
}

.app_section_selections_content_items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.app_section_selections_content_item {
  max-width: 412px;
  height: 336px;
  background-size: cover;
  display: flex;
  flex: 1;
  margin-right: 35px;
}

.app_section_selections_content_item:last-child {
  margin-right: 0;
}

.selection_item_1 {
  background-image: url("../img/selections/selection_1.png");
}

.selection_item_2 {
  background-image: url("../img/selections/selection_2.png");
}

.selection_item_3 {
  background-image: url("../img/selections/selection_3.png");
}

.app_section_selections_content_item_info {
  width: 100%;
  height: 100%;
  padding: 83px 20px 0 20px;
  background: rgba(0, 0, 0, 0.4);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.app_section_selections_content_item_info > h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #fff;
  border-bottom: 10px solid var(--color_gold);
  text-align: center;
}

.app_section_selections_content_item_info > article {
  text-align: center;
  color: #fff;
  padding: 15px 50px 0 50px;
}

.app_section_selections_content_rows_footer {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.app_section_selections_content_button {
  width: 376px;
  height: 63px;
  background: var(--color_red);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Gilroy-Bold;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

/*
   * Programs section styles
   */

.app_section_programs {
  background: var(--color_red);
}

.app_section_programs_content {
  padding: 40px 0 80px;
}

.app_section_programs_content > h1 {
  color: #fff;
}

.app_section_programs_content_slider {
  width: 100%;
  margin-top: 50px;
}

.app_section_programs_content_slider_item_rows {
  display: flex;
  align-items: center;
}

.app_section_programs_content_slider_item_row_1 {
  display: flex;
  flex-basis: 55%;
}

.app_section_programs_content_slider_item_row_2 {
  display: flex;
  flex-basis: 45%;
  margin-left: 80px;
}

.app_section_programs_content_slider_item {
  outline: none;
  padding: 0 100px;
}

.app_section_programs_content_slider_item_block {
  display: flex;
  width: 100%;
  height: 336px;
  background-color: #fff;
}

.app_section_programs_content_slider_item_block_row_1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-basis: 60%;
  padding-left: 30px;
}

.app_section_programs_content_slider_item_block_row_1 > h2 {
  font-family: Rubik;
  font-weight: bold;
  font-size: 28px;
  border-bottom: 10px solid var(--color_gold);
  margin: 48px 0 0;
}

.app_section_programs_content_slider_item_block_row_1 > p {
  font-weight: 600;
  font-size: 18px;
  margin: 50px 0 0;
}

.app_section_programs_content_slider_item_block_row_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 40%;
}

.app_section_programs_content_slider_item_info {
  height: 100%;
  max-width: 417px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app_section_programs_content_slider_item_info p {
  margin: 8px 0;
  color: #fff;
  font-weight: 300;
}

.app_section_programs_content_slider_item_info_button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;

  width: 100%;
  height: 63px;
  background-color: var(--color_gold);
  color: #fff;
  font-weight: 600;
}

.programs_slider_prev_arrow,
.programs_slider_next_arrow {
  width: 44px;
  height: 44px;
  top: calc(50% - 44px);
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.programs_slider_prev_arrow {
  background-image: url("../img/programs/arrow.png");
}

.programs_slider_next_arrow {
  background-image: url("../img/programs/arrow.png");
  transform: rotate(180deg);
  right: 0;
}

/*
   * Programs course styles
   */

.app_section_course_content_list {
  margin-top: 30px;
}

.app_section_course_content_list > ul {
  display: flex;
  margin: 0;
}

.app_section_course_content_list > ul li {
  font-weight: 600;
  font-size: 22px;
  margin-right: 70px;
  padding-left: 5px;
  position: relative;
}

.app_section_course_content_list > ul li:first-child {
  margin-top: 20px;
}

.app_section_course_content_list > ul li:first-child:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 50px;
  background-color: #000;
  top: -50px;
  left: -20px;
}

.app_section_course_content_slider_box {
  margin: 110px 0;
}

.app_section_course_content_slider {
  margin-top: 70px;
}

.app_section_course_content_slider_nav_item {
  width: 74px !important;
  height: 74px !important;
  margin-right: 45px;

  display: flex !important;
  justify-content: center;
  align-items: center;

  color: #fff;
  border-radius: 50%;
  background: rgba(194, 167, 100, 0.3);
  outline: none;
  cursor: pointer;

  font-weight: 600;
  font-size: 24px;
}

.app_section_course_content_slider_nav_item:last-child {
  margin-right: 0;
}

.app_section_course_content_slider_nav .slick-current {
  background: var(--color_gold) !important;
}

.app_section_course_content_slider_for_rows {
  display: flex !important;
  outline: none;
}

.app_section_course_content_slider_for_row_1 {
  width: 40%;
}

.app_section_course_content_slider_for_row_2 {
  width: 60%;
}

.app_section_course_content_slider_for_row_2_content {
  margin-top: 90px;
}

.app_section_course_content_slider_for_row_2_content > h2 {
  font-size: 22px;
}

.app_section_course_content_slider_for_row_2_rows {
  margin-top: 35px;
  display: flex;
}

.app_section_course_content_slider_for_row_2_rows_left_half,
.app_section_course_content_slider_for_row_2_rows_right_half {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
}

.app_section_course_content_slider_for_row_2_rows_left_half > article,
.app_section_course_content_slider_for_row_2_rows_right_half > article {
  margin-bottom: 30px;
}

.app_section_course_content_slider_for_row_2_rows_left_half p,
.app_section_course_content_slider_for_row_2_rows_right_half p {
  display: inline-flex;
  font-weight: 500;
}

.app_section_course_content_slider_for_row_2_rows_left_half p > span,
.app_section_course_content_slider_for_row_2_rows_right_half p > span {
  display: inline-flex;
  align-items: center;
  margin-right: 15px;
}

.app_section_course_content_slider_for_row_2_rows_right_half {
  margin-left: 50px;
}

.app_section_course_content_for_slider_row_2_rows_button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 526px;
  height: 63px;
  margin-top: 70px;
  background-color: var(--color_gold);

  font-weight: 600;
  outline: none;
}

/*
   * Teachers section styles
   */

.app_section_teachers {
  background-color: #eee;
  min-height: 849px
}

.app_section_teachers_content {
  padding-top: 50px;
}

.app_section_teachers_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0 60px;
}

.app_section_teachers_grid_item {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  max-width: 300px;
  margin-top: 40px;
}

.app_section_teachers_grid_item_photo {
  width: 100%;
  height: 220px;
  background-color: #fff;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.app_section_teachers_grid_item_name > h6 {
  font-size: 18px;
  font-weight: 600;
  margin: 26px 0 0;
}

.app_section_teachers_grid_item_name > span {
  display: inline-block;
  margin-top: 5px;
}

/*
   * License section styles
   */

.app_section_license_content {
  padding: 110px 0 140px;
}

.app_section_license_content_rows {
  display: flex;
  margin-top: 80px;
}

.app_section_license_content_rows_row_1 {
  flex-basis: 60%;
}

.app_section_license_content_rows_row_2 {
  flex-basis: 40%;
}

.app_section_license_content_rows_row_1_accordion {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.app_section_license_content_rows_row_1_accordion_item {
  margin-top: 30px;
  padding-bottom: 30px;
  position: relative;
}

.app_section_license_content_rows_row_1_accordion_item:before {
  position: absolute;
  content: '';
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 70%;
  bottom: 0;
}

.app_section_license_content_rows_row_1_accordion_item:first-child {
  margin-top: 0;
}

.app_section_license_content_rows_row_1_accordion_item_head {
  display: flex;
  align-items: center;
}

.app_section_license_content_rows_row_1_accordion_item_head_circle {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background-color: #AFAFAF;

  font-weight: 600;
  font-size: 24px;
  border-radius: 50%;
}

.app_section_license_content_rows_row_1_accordion_item_head_title {
  margin-left: 20px;
  font-weight: bold;
  font-size: 22px;
}

.app_section_license_content_rows_row_1_accordion_item_head_toggle > img {
  transform: rotate(90deg);
  margin-left: 20px;
  cursor: pointer;
}

.app_section_license_content_rows_row_1_accordion_item_content {
  margin-top: 15px;
  margin-left: 70px;
  overflow-y: hidden;
  height: 0;
}

.accordion_toggle {
  transform: rotate(270deg) !important;
  transform-origin: 50%;
}

.accordion_toggle_content {
  height: auto;
  transition: .6s;
}


